@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: none;
}
